# Зависимости
node_modules/
*/node_modules/

# Сборочные файлы и артефакты
dist/
build/
*.log
*.log.*

# Временные файлы
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Локальные конфигурации и секреты
.env
*.env.*
!.env.example

# База данных
*.sql
*.sqlite
*.db

# Файлы редакторов
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Кэш и отладочные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.cache

# Тестирование
coverage/
*.lcov

# Производственные файлы (если есть)
public/build/
server/public/


